.postEntry h3 {
	font-size:20px;
	margin-bottom:2px;

}

header {
	font-size:35px;
	margin-top:15px;
	margin-bottom:5px;
}

hr {
	margin-top:3px;
	margin-bottom:3px;
}

#numPosts {
	width: 60px;
}

#postList {
	display:none;
}

textarea {
	resize:none;
}