.postEntry h3 {
	font-size:20px;
	margin-bottom:2px;

}

label {
   display: block;
   margin-bottom: 20px;
}

#postCountLabel {
   font-size: 17px;
}

h1 {
	font-size:35px;
	margin-top:15px;
	margin-bottom:5px;
}

hr {
	margin-top:3px;
	margin-bottom:3px;
}

#numPostsInput {
	width: 60px;
   margin-left: 20px;
}

#postList {
	display:none;
}

textarea {
	resize:none;
}
